<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
 
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

<!-- 		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> -->
		<property name="connection.driver_class">net.bull.javamelody.JdbcDriver</property>
        <property name="connection.driver">com.mysql.jdbc.Driver</property>

 		<property name="connection.url">jdbc:mysql://</property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>

		<property name="connection.pool_size">5</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">60</property>
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">25</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">150</property>
<!-- 		<property name="current_session_context_class">thread</property> -->
		<property name="innodb_thread_concurrency">30</property>
		<property name="innodb_write_io_threads">30</property>
		<property name="innodb_sync_spin_loops">30</property>
		<property name="innodb_thread_sleep_delay">0</property>
		<property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>

	</session-factory>
</hibernate-configuration>
