
.customer {
	background: url(../../images/icons/folder-customer-icon128.png) !important;
}

.teams {
	background: url(../../images/icons/team128.png) !important;
}

.logout {
	background: url(../../images/icons/Actions-application-exit-icon128.png) !important;
}